<h1>About Page</h1>

<h2>Instance variables from parameters</h2>
<ul>
  <li> <strong>Id:</strong> <%= @id %> </li>
  <li> <strong>Page:</strong> <%= @page %> </li>
</ul>

<p>Created by <%= @crated_by %></p>