<h1>Tasks Manager</h1>

<p>This is an application to managing a to do list.</p>

<%= link_to('Tasks List', {controller: 'tasks', action: 'index', page: 1}) %>

<%= link_to('About', {controller: 'main', action: 'about', page: 5, id: 20}) %>
