<%= link_to 'Home', main_index_path %>

<h1>Tasks#index</h1>

<% if @page == '1' %>
  <h2> Page <%= @page %></h2>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li> <%= task %> </li>
  <% end %>
</ul>
